# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset: https://www.kaggle.com/datasets/amritvirsinghx/web-series-ultimate-edition

Import the necessary libraries and create your dataframe(s).

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb 
from matplotlib import style

tv_df = pd.read_csv('/Users/jordy/OneDrive/Desktop/Women+/All_Streaming_Shows.csv')

In [5]:
tv_df.info()
tv_df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12353 entries, 0 to 12352
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Series Title        12353 non-null  object
 1   Year Released       12353 non-null  int64
 2   Content Rating      7232 non-null   object
 3   IMDB Rating         10207 non-null  float64
 4   R Rating            12353 non-null  int64
 5   Genre               12353 non-null  object
 6   Description         12353 non-null  object
 7   No of Seasons       12353 non-null  object
 8   Streaming Platform  10370 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 868.7+ KB

,Series Title,Year Released,Content Rating,IMDB Rating,R Rating,Genre,Description,No of Seasons,Streaming Platform
0,Breaking Bad,2008,18+,9.5,100,"Crime,Drama","When Walter White, a New Mexico chemistry teac...",5Seasons,Netflix
1,Game of Thrones,2011,18+,9.3,99,"Action & Adventure,Drama",Seven noble families fight for control of the ...,8Seasons,"HBO MAX,HBO"
2,Rick and Morty,2013,18+,9.2,97,"Animation,Comedy",Rick is a mentally-unbalanced but scientifical...,4Seasons,"Free Services,HBO MAX,Hulu"
3,Stranger Things,2016,16+,8.8,96,"Drama,Fantasy","When a young boy vanishes, a small town uncove...",3Seasons,Netflix
4,The Boys,2019,18+,8.7,95,"Action & Adventure,Comedy",A group of vigilantes known informally as “The...,2Seasons,Prime Video
5,Dark,2017,16+,8.8,95,"Crime,Drama",A missing child causes four families to help e...,3Seasons,Netflix
6,Chernobyl,2019,18+,9.4,95,"Drama,History",The true story of one of the worst man-made ca...,1Season,"HBO MAX,HBO"
7,Sherlock,2010,16+,9.1,94,"Action & Adventure,Crime",A modern update finds the famous sleuth and hi...,4Seasons,Netflix
8,Fargo,2014,18+,8.9,94,"Crime,Drama",A close-knit anthology series dealing with sto...,3Seasons,Hulu
9,Avatar: The Last Airbender,2005,7+,9.2,94,"Action & Adventure,Animation","In a war-torn world of elemental magic, a youn...",3Seasons,"Netflix,CBS All Access,Hoopla"

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [31]:
tv_df.isna().sum()

Series Title             0
Year Released            0
Content Rating           0
IMDB Rating           2146
R Rating                 0
Genre                    0
Description              0
No of Seasons            0
Streaming Platform    1983
dtype: int64

In [32]:
# using the code I saw from Sally's example checkpoint I want to see what percent of the data in those rows are missing 
for col in tv_df.columns:
    tv_missing = np.mean(tv_df[col].isnull())
    print('{} - {}%'.format(col, round(tv_missing*100)))
# Content rating has the most missing values which will mostly effect how I decipher which streaming platform is best suited for 
# children/teens

Series Title - 0%
Year Released - 0%
Content Rating - 0%
IMDB Rating - 17%
R Rating - 0%
Genre - 0%
Description - 0%
No of Seasons - 0%
Streaming Platform - 16%

In [33]:
# printing the values of each column with Nulls using cose I found from https://datatofish.com/rows-with-nan-pandas-dataframe/
tv_df[tv_df['Content Rating'].isnull()]
# Looked up some of the shows to possibly see if they are null because they're suitable for all audiences and it looks like some are but others are not

Empty DataFrame
Columns: [Series Title, Year Released, Content Rating, IMDB Rating, R Rating, Genre, Description, No of Seasons, Streaming Platform]
Index: []

In [34]:
# I don't want to drop this column completly as they have other information I would like to use for my analysis so I am likely going to leave the null values in and rename them

In [ ]:
trace = go.Bar(x = shows_by_genre.index, y = shows_by_genre.values,marker_color = colors)
fig = go.Figure([trace])
fig.update_layout(template = 'plotly_white',
                  title = { 'text' : '<b>Number of Shows in Each Genre</b>', 'x' : 0.5},
                  font_family = 'Fira Code',title_font_color= '#72bcd4', 
                  showlegend = False)

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

genres_clean = [val.strip() for sublist in tv_df.Genre.dropna().str.split(",").tolist() for val in sublist]
pd.unique(genres_clean)
platforms_clean = [val.strip() for sublist in tv_df.Streaming Platform.dropna().str.split(",").tolist() for val in sublist]
pd.unique(platforms_clean)

https://www.pauldesalvo.com/how-to-break-up-a-comma-separated-string-in-a-pandas-column/

initial_columns = tv_df_dropped_missing.columns
selected_genres = ['Action & Adventure', 'Animation','Anime','Biography','Children','Comedy','Crime','Cult','DIY', 'Documentary',
                      'Drama','Family','Fantasy','Food','Game Show','History','Home & Garden','Horror',
                      'Lifetime','Musical','Mystery','Pet','Reality','Romance','Science','Science-Fiction','Showtime', 'Sport',
                      'Stand-up & Talk','Thriller','Travel']
selected_columns = list(initial_columns)
selected_columns.extend(selected_genres) #adding these new genres to the list of columns
tv_df_dropped_missing_genre = tv_df_dropped_missing[selected_columns]

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
2. Did the process of cleaning your data give you new insights into your dataset?
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?